name: Deploy to Cloudways

on:
  push:
    branches:
      - master  # הוגדר לענף master כפי שציינת

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
                    script: |
            cd ~/applications/weuysdhadp/public_html
            
    
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            git pull origin master
            npm install
            rm -rf .next
            npm run build
            pm2 restart nextjs-app || pm2 start npm --name "nextjs-app" -- start -- -p 3002
            curl -X PURGE http://127.0.0.1:3002
